<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuários</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}">
</head>
<body>
    <header>
        <h1>Cadastro de Usuários</h1>
    </header>

    <main>
        <form method="post" action="{% url 'cadastrar_usuario' %}">
            {% csrf_token %}
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome"  required>

            <label for="sobrenome">Sobrenome:</label>
            <input type="text" id="sobrenome" name="sobrenome" required>

            <div>
                <label for="sexo">Sexo: </label>
                <input type="radio" id="sexo_masculino" name="sexo" value="masculino"> Masculino</input>
                <input type="radio" id="sexo_feminino" name="sexo" value="feminino"> Feminino</input>
            </div>

            <label for="ano_nascimento">Data de Nascimento:</label>
            <combobox id="ano_nascimento" name="ano_nascimento" required>
                <option value="">Selecione</option>
                {% for ano in anos %}
                        <option value="{{ ano }}">{{ ano }}</option>
                {% endfor %}
            </combobox>
            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder="000.000.000-00" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="telefone">Telefone:</label>
            <input type="tel" id="telefone" name="telefone" pattern="\(\d{2}\) \d{4,5}-\d{4}" placeholder="(00) 00000-0000" required>

            <button type="submit">Cadastrar</button>
        </form>
    </main>
</body>
</html>