<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} Home {%endblock%}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}">
</head>

<body>

    <header>
        {%block header%}
        <div class="logo">
            {%load static%}
            <img src="{% static 'logo-theWay2.jpg' %}" alt="Logo The Way">
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'cadastro' %}">Cadastrar Usuário</a></li>
            </ul>
        </nav>
        {%endblock%}
    </header>

    <main>
        {%block content%}
        <div class="main-titulo">
            <h1>Bem-vindo ao Sistema de Cadastro</h1>
        </div>

        <div class="main-conteudo">
            <table>
                <tr>
                    <td>Nome</td>
                    <td>Sobrenome</td>
                    <td>Sexo</td>
                    <td>Data de Nascimento</td>
                    <td>CPF</td>
                    <td>Email</td>
                    <td>Telefone</td>
                </tr>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.nome }}</td>
                    <td>{{ usuario.sobrenome }}</td>
                    <td>{{ usuario.sexo }}</td>
                    <td>{{ usuario.data_nascimento }}</td>
                    <td>{{ usuario.cpf }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.telefone }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        {%endblock%}
    </main>

</body>
</html>